<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/init.css">
    <link rel="stylesheet" href="../zui/css/zui.css">
    <link rel="stylesheet" href="../css/counselor_msg.css">
</head>

<body>
    <div class="wrapper">
        <h1 class="text-center">我要预约</h1>
        <div>
            <div>
                <img alt="First slide" src="../img/dengziqi.jpg" width="100%" height="300px" />
            </div>
            <div>
                <div class="flex-between">
                    <div> 康国勇</div>
                    <div>福州大学至诚学院</div>
                    <div>学生</div>
                    <div>服务价格:100元/次</div>
                </div>
                <div class="flex-between">
                    <div>擅长领域</div>
                    <div>亲子关系</div>
                    <div>情绪管理</div>
                    <div>人生迷茫</div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        专业背景
                    </div>
                    <div class="panel-body">
                        晒佛诶肺癌;odivdcn对你对;
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        可约时间
                    </div>
                    <div class="panel-body">
                        <div class="input-group mb15">
                            <select class="form-control">
                                <option value="eat">周一</option>
                                <option value="sleep">周二</option>
                                <option value="code">写代码</option>
                            </select>
                        </div>
                        <table class="table">
                           
                              <tr>
                                <td>8:00</td>
                                <td>9:00</td>
                                <td>10:00</td>
                                <td>11:00</td>
                              </tr>
                              <tr>
                                <td>14:00</td>
                                <td>15:00</td>
                                <td>10:00</td>
                                <td>17:00</td>
                              </tr>
                              <tr>
                                <td>18:00</td>
                                <td>9:00</td>
                                <td>10:00</td>
                                <td>21:00</td>
                              </tr>
                              
                                                         
                          </table>

                          




                    </div>
                    
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        问题描述
                    </div>
                    <div class="panel-body">
                        晒佛诶肺癌;odivdcn对你对;
                    </div>
                </div>
                <div>
                    <button class="btn btn-block " type="button">预约</button>
                    <button class="btn btn-block " type="button">查看咨询师详情</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>