<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../zui/css/zui.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/init.css">
</head>

<body>
    <div class="wrapper">
        <h1 class="text-center">资金账户</h1>

        <div class="panel panel-warning">
            <div class="panel-body">
                <div>账户余额</div>
            </div>
            <div class="panel-footer flex-between">
                <div>1000元</div>
                <!-- 对话框触发按钮 -->
            </div>




        </div>


        <div class="panel panel-warning">
            <div class="panel-body">
                <div>收支明细</div>
            </div>
            <div class="panel-footer ">
                <table class="table table-bordered">
                    <tr>
                        <th>发生时间</th>
                        <th>客户姓名</th>
                        <th>咨询/预约</th>
                        <th>金额(元)</th>
                    </tr>
                    <tr>
                        <td>2022年</td>
                        <td>康康</td>
                        <td>预约</td>
                        <td>1000</td>
                    </tr>
                </table><br>
                <div class="text-center">
                    <ul class="pager" data-ride="pager" data-page="2" data-rec-total="89" data-max-nav-count="4"
                        data-elements="prev_icon,nav,next_icon"></ul>
                </div>

               
            </div>

        </div>


    </div>

</body>
<script src="../js/jquery.min.js"></script>
<script src="../zui/js/zui.js"></script>
</html>