<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../zui/css/zui.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/init.css">
</head>
<body>
        <h1 class="text-center">修改菜单</h1>
        <div class="flex-xcenter mb15">
            <span>
                 菜单名称:
            </span>
            <input type="text">
           
        </div>
        <div class="flex-xcenter  mb15">
            <span>
                 上级菜单:
            </span>
            <input type="text">
           
        </div>
        <div class="flex-xcenter  mb15">
            <span>
                 URL&nbsp;&nbsp;&nbsp;&nbsp;:
            </span>
            <input type="text">
           
        </div>
         <div class="flex-xcenter  mb15">
            <span>
                 排序号:
            </span>
            <input type="text">
           
        </div>
        <div class="text-center">
            <button>提交</button>
            <button>返回</button>
        </div>



    </div>
    
</body>
</html>